/* Comics Page Styles */
.comic-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center; /* Center the comics section */
}

.comic {
    margin-bottom: 30px;
    width: 100%; /* Take up full width of its container */
    display: flex;
    justify-content: center; /* Center content horizontally */
    position: relative; /* Make sure relative positioning is applied for buttons */
}

.comic h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.image-gallery {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 80%; /* Adjust width of the gallery (you can make this 100% or set any other value) */
    max-width: 600px; /* Maximum width for the image gallery */
}

.gallery {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease;
    justify-content: center;
}

.gallery img {
    width: 100%; /* Ensure i
