body {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ABF4FF;
    padding: 10px;
    text-align: center;
}

header img {
    width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #DB8851;
    text-decoration: none;
}

#social-media img {
    width: 30px;
    margin: 0 10px;
}

#bios {
    padding: 20px;
    text-align: center;
}

#bios h2 {
    margin-bottom: 20px;
}

/* Container for images */
.image-container {
    display: block;             /* Change to block to stack images vertically */
    align-items: center;       /* Center align items if needed */
    margin-bottom: 20px;
}

/* Bio images */
.bio-image {
    width: 500px;              /* Adjust the size of the images as needed */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;       /* Space between images */
}

/* Removed the bio-container since you don't need the text boxes */

/* Contact Info */
#contact-info {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #DB8851;
    color: white;
    padding: 10px
